*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: none;
}

/* -----estilos para elemento dentro del header--------------------*/
.conteiner-icono-fecha{
    background-color: var(--colorFondo-oscuro);
    padding: 0.2em 0.5em;
    border-radius: 0.8em;
}
.icono-fecha{
    width: 3.6em;
    object-fit: cover;
}
/* contiener-opciones-menu */
.contiener-opciones-menu{
    background-color: var(--colorFondo-oscuro);
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    font-size: 2em;
    /* bordes */
    border-radius: 1em 0em 1em 1em;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(205, 43, 226);
    /* posicionamiento */
    top: 0px;
    right: 0px;
    /* animación */
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;

    /* escondiendo la ventana */
    display: none;
}
.contiener-opciones-menu li{
    display: grid;
}
.contiener-opciones-menu li a{
    padding: 1em;

    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(205, 43, 226);
}

/* aparecer */
.aparecer-grid{
    display: grid;
}

/* reponsive */
@media (max-width: 620px){
    .icono-fecha{
        width: 30px;
    }
}