:root{
    --tamFotoVendedor: 4.5em;
    --tamFotoProducto: 10em;
    --tamSearchY: 3em;
}
.header_title h1{
    text-align: center;
    font-size: 2.2em;
}
/* estilos para el contenedor de producto */
.conteiner-AllProduct{
    background-color: var(--colorFondo-claro);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    row-gap: calc((var(--tamFotoVendedor)/2) + 0.3em);
    column-gap: 1em;
    padding: calc( (var(--tamSearchY)/2) + 1em ) 0.6em;

    border-radius: 1em 1em 0em 0em;
}
/*----------estilos para el buscador------------ */
.apartado-buscador{
    background-color: var(--colorFondo-oscuro);
    margin-top: calc((var(--tamSearchY)/2) + 1em);

    position: relative;
}
/* para el buscador */
.conteiner-search{
    position: absolute;
    margin: auto;
    bottom: calc((-1)*var(--tamSearchY)/2) ;
    right: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap:1em;
}
.conteiner-search img{
    background-color: var(--colorFondo-claro);
    height: calc(var(--tamSearchY) - 1em);
    object-fit: cover;
    border-style: solid;
    padding: 0.3em;

    border-color: rgb(149, 149, 149);
    border-width: 1px ;
    border-radius: 0.5em;
    box-shadow: 0px 5px 10px var(--colorFondo-oscuro);
}
.conteiner-search input{
    background-color: var(--colorFondo-claro);
    color: white;
    padding: 1em 1em;
    font-size: 1em;
    height: var(--tamSearchY);
    width: 80vw;
    max-width: 500px;
    
    outline: none;
    border-style: solid;
    border-color: rgb(149, 149, 149);
    border-width: 1px;
    border-radius: 0.5em;
    box-shadow: 0px 5px 10px var(--colorFondo-oscuro);
}

/*----------estilos para cada producto-------------  */
.producto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--colorFondo-oscuro);
    border-radius: 0.5em;

    position: relative;
}
.producto h3{
    text-align: center;
}

.producto img{
    width: 100%;
    border-radius: 0.5em;
    /* max-height: 250px; */
    object-fit: cover;
}

.direction-perfil-vendedor{
    z-index: 2;
}
.img-vendedor{
    z-index: 2;
    background-color: red;
    width: var(--tamFotoVendedor);
    height: var(--tamFotoVendedor);
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 2px;

    /* estilos de flote */
    position: absolute;
    margin:auto;
    left: 0;
    right: 0;
    bottom: calc((-1)*(var(--tamFotoVendedor)/2));
}
.img-vendedor img{
    height: 100%;
    object-fit: cover;
}

/* estilos para la descripción de producto */
.description-producto{
    z-index: -2;
    position: absolute;
    background-color: black;
    border-radius: 0.5em;
    top: 0px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.0;

    transition-duration: 0.4s;
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.window-informacion-producto{
    z-index: 1;
    /* background-color: rgba(255, 0, 0, 0.326); */
    position: absolute;
    border-radius: 0.5em;
    top: 0px;
    width: 100%;
    height: 100%;
}

/* responsive */
@media (width <= 500px){
    body{
        font-size: 10px;
    }
}
@media (width <= 319px){
    body{
        font-size: 8px;
    }
}
