:root{
    --tamFoto-user: 200px;
    --tamFotoProduct: 100px;
}


/* estilos para el contenedor de todo */
.conteiner-All{
    background-color: rgb(35, 33, 48);
}

/*
Estilos para la 
foto y datos del usuario
(producto|seguidores) 
*/
.sub-head{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.datos-head{
    height: calc(var(--tamFoto-user)/2);
    padding-left: calc(var(--tamFoto-user) + 1em);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1em;
}
.datos-head h3{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 1.7em;
}
/* estilos para foto de perfil del usuario */
.conteiner-img{
    position: absolute;
    width: var(--tamFoto-user);
    height: var(--tamFoto-user);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

    /* posición del conteiner */
    top: calc((-1)*var(--tamFoto-user)/2);
}
.conteiner-img img{
    height: 100%;
    object-fit: cover;
}

/* -----Estilos para el apartado de producto---------- */

/* estilos para el nav */
.conteiner-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner-nav nav{
    background-color: rgb(18, 17, 24);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.3em;
    column-gap: 5px;
}
.conteiner-nav nav a{
    background-color: rgb(35, 33, 48);
    font-size: 1.2em;
    padding: 0.5em 0em 0.5em;
}
/* estilos para el apartado de informacion-user */