:root{
    --colorFondo-claro: #23313c;
    --colorFondo-oscuro: #0f161c;
    --colorFondo: #0f161c;
    /* tamaño para pantalla monitor */
    --tamFoto-user: 14em;
    --tamFotoProductY: 12em;
    /* tamaño para celular */
    --tamFoto-user_cel: 100px;
    --tamFotoProductoY_cel: 100px;
}

/* -----Estilos para el header---------- */
.header_section{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}
.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
    padding-left: 1em;
}
.header_title{
    padding-top: calc(var(--tamFoto-user)/4);
    padding-left: calc(var(--tamFoto-user)/1.3);
    color: white;
}
.header_title-texto{
    font-size: 1.6em;
}

.header_conteiner-puntos{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    padding: 0.5em 1.5em;
    background-color: var(--colorFondo-oscuro);
    border-radius: 0.7em;
}
.header_conteiner-puntos .punto{
    background-color: white;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
}
/* -----Estilos para toda la parte del cuerpo---------- */
.conteiner-All{
    padding: 0em 1em;
    background-color:var(--colorFondo-claro);
    display: grid;
    align-items: start;
}
/* estilos para el sub-header */
.sub-head{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.conteiner-img{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: var(--tamFoto-user);
    height: var(--tamFoto-user);
    top: calc((-1)*(var(--tamFoto-user)/2));
}
.conteiner-img img{
    object-fit: cover;
    width: 100%;
}
.datos_sub-head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2em;
    padding-top: 1em;
    padding-left:var(--tamFoto-user);

    font-size: 1.3em;
}
.--numProduc, .--numSegui{
    font-size: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}
/* estilos para el botón de seguir */
.btn-seguir{
    background-color: #4100b2;
    border-style: none;
    font-size: 1.3em;
    padding: 0.3em 1em;
    border-radius: 10px;
    color: white;
}
/* -----estilos para el navegador del pefil---------- */
.conteiner-nav{
    z-index: 1;
    margin-top: 3em;
    margin-bottom: 1em;
    top: 0px;
    position: sticky;
}
.conteiner-nav nav{
    background-color: var(--colorFondo-oscuro);
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    text-align: center;
}
.conteiner-nav nav a{
    font-size: 1.2em;
    margin: .5em;
    background-color: var(--colorFondo-claro);
    padding: .5em 0em;
}
.conteiner-nav nav a:nth-child(1){
    border-radius: 10px 0em 0em 10px;
}
.conteiner-nav nav a:nth-child(2){
    border-radius: 0em 10px 10px 0px;
}

/* -----estilos para cada producto del usuario/perfil---------- */
.conteiner-producto{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 1em;
}
.producto{
    background-color: var(--colorFondo-oscuro) ;
    padding: 1em;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    column-gap: 1em;
    height: calc(var(--tamFotoProductY) + 2em);
}
.producto h3{
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 1.9em;
}
.description-producto{
    position: relative;
    font-size: 1.3em;
}
.puntSuspensivo{
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.display--block{
    display: block;
}
.producto img{
    height: var(--tamFotoProductY);
    grid-row-start: 1;
    grid-row-end: 4;
    object-fit: cover;
}
.producto footer{
    display: flex;
    align-items: start;
    gap: 2em;
}
/* estilos para computadora */
@media (max-width: 690px){
    body{
        font-size: 12px;
    }
    .conteiner-producto{
        grid-template-columns: auto;
    }
}
@media (max-width: 513px){
    body{
        font-size: 10px;
    }
}
@media (max-width: 418px){
    body{
        font-size: 7px;
    }
}
/* estilos usados con javascript */
.overflow-text{
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
}