
.header_title{
    text-align: center;
    font-size: 2em;
}
.conteiner-form{
    margin-top: 2em;
    display: flex;
    width: 100vw;
    justify-content: center;
}
/* --------- estilos para el contenido del formulario-------------------------------- */
.formulario-producto{
    background-color: var(--colorFondo-claro);
    display: flex;
    gap: 1em;
    padding: 1em;
    border-radius: 0.5em;
}
/*-----------estilos para la imagen del producto--------------------------------- */
.label-img{
    width: 13em;
    height: 20em;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.label-img img{
    width: 100%;
    object-fit: cover;
}
.label-img input{
    visibility: hidden;
}
.foto-producto{
    display: flex;
    flex-direction: column;
}
/* esfectp hover */
.label-img:hover{
    box-shadow: 0px 0px 5px white;
}
/*-----------estilos para los datos del producto--------------------------- */
.datos-producto{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}
.datos-producto textarea{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: var(--colorFondo-oscuro);
    border-style: none;
    outline: none;
    border-radius: 0.3em;
    padding: 0.2em 0.5em;
    font-size: 1em;
}
.datos-producto input{
    outline: none;
    color: white;
    background-color: var(--colorFondo-oscuro);
    border-style: none;
    border-radius: 0.5em;
    font-size: 1.3em;
    padding: 0.3em;
    text-align: center;
}
.datos-producto input[type="submit"]{
    cursor: pointer;
    border-radius: 0.5em;
    margin-top: 1em;
    background-color: var(--fondo-btn);
}
.input_precio{
    text-align: start;
}
.datos-producto div[class="dato-precio"]{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.datos-producto select{
    width: 100%;
    outline: none;
    border-radius: 0.5em;
    background-color: var(--colorFondo-oscuro);
    color: white;
    padding: 0.8em;
}
/* responsive */
@media (width <= 560px){
    body{
        font-size: 10px;
    }
}
@media (width <= 357px){
    body{
        font-size: 8px;
    }
}
@media (width <= 270px){
    body{
        font-size: 6px;
    }
}